# Temporary files
*.asv
*~

# Generated elements
/report/paper.pdf
/report/paper.aux
/report/paper.out
/report/paper.log
/report/paper.synctex.gz

/src/regression/plots
/src/classification/plots

/src/regression/results
/src/classification/results

# Extra data
/data/*
!/data/SaoPaulo*
